.commodities {
  margin-top: 5em;
}

.commodities .commodities__category-title {
  font-size: 1.5rem;
}

.commodities .commodities__line {
  border-bottom: 0.1em grey dotted;
  margin: 1em 0 1em 0;
}

.commodities .commodities__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2em;
}

.commodities .content {
  width: 100%;
  position: relative;
  margin-bottom: 2em;
}

.commodities .content .description {
  display: flex;
  flex-direction: column;
}

.commodities .content .name {
  margin-bottom: 0.2em;
}

.commodities .content .unit {
  font-size: 0.8rem;
}

.commodities .content .interval {
  font-size: 0.8rem;
  margin-bottom: 0.5em;
}

.commodities .content .change {
  font-size: 1.5rem;
}

.area-chart {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #2b2f39;

  width: 100%;
  max-width: var(--chart-width, 100%);
  height: var(--chart-height, 100px);

  justify-content: stretch;
  align-items: stretch;
  flex-direction: row;
  grid-area: 1/1/5/-1;
  z-index: -1;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
}

/* .area-chart > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  background: var(--color, #2b2f39);
}

.area-chart {
  clip-path: polygon(
    0% calc(100% * (1 - var(--start))),
    100% calc(100% * (1 - var(--end))),
    100% 100%,
    0% 100%
  );
} */
