@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap");

.noticia-light {
  font-family: "Noticia Text", serif;
  font-weight: 300;
}

.noticia-bold {
  font-family: "Noticia Text", serif;
  font-weight: 700;
}

.open-sans-light {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.open-sans-bold {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}
