.front-headlines {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 5fr repeat(2, 2fr);
  margin-top: 2em;
  gap: 2em;
}

.front-headlines .front-headlines__front-headline {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-headlines .front-headlines__front-headline .image {
  width: 100%;
  height: 20em;
  object-fit: cover;
  background: #2b2f39;
}

.front-headlines .front-headlines__front-headline .date {
  margin: 1em 0 1em 0;
  background: white;
  border-radius: 0.3em;
  color: black;
  padding: 0 0.5em 0 0.5em;
  width: max-content;
  text-align: center;
}

.front-headlines .front-headlines__front-headline .title {
  font-size: 3rem;
  text-align: left;
}

.front-headlines .front-headlines__side-headlines {
  grid-area: 1 / 4 / 4 / 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.front-headlines .front-headlines__side-headlines .content {
  display: flex;
  flex-direction: column;
}

.front-headlines .front-headlines__side-headlines .content .date {
  font-size: 0.8rem;
  margin-bottom: 0.5em;
  width: 100%;
}

.front-headlines .front-headlines__sub-headlines {
  grid-area: 2 / 1 / 4 / 4;
  gap: 1.5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.front-headlines .front-headlines__sub-headlines .content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.7em;
}

.front-headlines .front-headlines__sub-headlines .content .image {
  object-fit: cover;
  width: 100%;
  height: 5em;
  background: #2b2f39;
}

.front-headlines .front-headlines__sub-headlines .content .date {
  font-size: 0.8rem;
}
