* {
  box-sizing: border-box;
  color: #ffffff;
}

a {
  text-decoration: none;
}

.document {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: #131722;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 75%;
}
