.other-headlines__business-headlines {
  margin-top: 5em;
}

.other-headlines__business-headlines .business-headlines__category-title {
  font-size: 1.5rem;
}

.other-headlines__business-headlines .business-headlines__line {
  border-bottom: 0.1em grey dotted;
  margin: 1em 0 1em 0;
}

.other-headlines__business-headlines .business-headlines__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 2em;
}

.other-headlines__business-headlines .business-headlines__container .content {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
}

.other-headlines__business-headlines
  .business-headlines__container
  .content
  .image {
  width: 100%;
  height: 5em;
  object-fit: cover;
  background: #2b2f39;
}

.other-headlines__business-headlines
  .business-headlines__container
  .content
  .date {
  font-size: 0.8rem;
}
